@import "tailwindcss";


/* small extras to match your previous style */
body { background: #f7fafc; font-family: Inter, ui-sans-serif, system-ui, -apple-system; }

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}